body{
    background-color: rgb(34, 31, 31);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head{
    background-color: rgb(95, 93, 93);
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 30px;
    width: 100%;
}
.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#seconds{
    color: green;
}
h2{
    font-size: 40px;
}
input{
    width:100% ;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    padding:0 10px;
}
.instruction{
    background-color:rgb(95, 93, 93);
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-top: 30px;
}
h5{
    font-size: 20px;
}
